@import '~@/style/var.less';

body {
  --@{prefixe}-empty-padding: var(~"--@{prefixe}-padding-xl") 0;
  --@{prefixe}-empty-image-size: 160px;
  --@{prefixe}-empty-description-margin-top: var(~"--@{prefixe}-padding-md");
  --@{prefixe}-empty-description-padding: 0 60px;
  --@{prefixe}-empty-description-color: var(~"--@{prefixe}-text-color-2");
  --@{prefixe}-empty-description-font-size: var(~"--@{prefixe}-font-size-md");
  --@{prefixe}-empty-description-line-height: var(~"--@{prefixe}-line-height-md");
  --@{prefixe}-empty-bottom-margin-top: 24px;
}

.@{prefixe}-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: var(~"--@{prefixe}-empty-padding");

  &__image {
    width: var(~"--@{prefixe}-empty-image-size");
    height: var(~"--@{prefixe}-empty-image-size");

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__description {
    margin-top: var(~"--@{prefixe}-empty-description-margin-top");
    padding: var(~"--@{prefixe}-empty-description-padding");
    color: var(~"--@{prefixe}-empty-description-color");
    font-size: var(~"--@{prefixe}-empty-description-font-size");
    line-height: var(~"--@{prefixe}-empty-description-line-height");
  }

  &__bottom {
    margin-top: var(~"--@{prefixe}-empty-bottom-margin-top");
  }
}